@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Sedgwick+Ave');


/* COLORS */

html {
    background-color: #cd0f38;
}

.bg-section-header {
    background-color: #cd0f38;
}

.co-yel{
    background-color: #f3df00;
    border-color: #f3df00;
}

.co-red{
    background-color: #cd0f38;
    border-color: #cd0f38;
}




/* GLOBAL RULES */

html{
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', sans-serif;
    font-size: 12px;
}

h1 {
    font-family: Lobster, sans-serif;
}

h2,
h3,
h4,
h5{
    font-family: "Sedgwick Ave";
}


/* HEADER */

header h1{
    font-family: Lobster, sans-serif;
    text-align: center;
    font-size: 5rem;

}

#splash{
    padding: 0;
    margin: 0;
    width: 100%;
    height: calc(90vh - 50px);
    margin-top: 10vh;
    padding-top: 2vh;
    padding-bottom: 20vh;
    min-width: 300px;
    
    text-align: center;
}

#splash>video{
    height: 50vh;
    width: calc(height * 16 / 9);
    border: brown groove 10px;
    border-radius: 20%;
    padding: 0;
    z-index: 1;
    object-fit: fill;
}

/* NAVBAR */

.navbar{
    padding: 0;
    margin: 0;
    background-color: rgb(205, 15, 56, 0.9);
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.95);
    -moz-box-shadow:    0 0 10px 0 rgba(50, 50, 50, 0.95);
    box-shadow:         0 0 10px 0 rgba(50, 50, 50, 0.95);
    min-height: 50px;
    z-index: 10;
}

ul.navbar-nav li a{
    font-family: Lobster, sans-serif;
    font-size: 1.5rem;
    color: #f3df00;
    text-shadow: 1px 1px 2px #333;
}

ul.navbar-nav li a:hover {
    background-color: transparent;
    text-shadow: 1px 2px 10px #fdf8c4;
    -webkit-transition: text-shadow 1s ease-out;
    -moz-transition: text-shadow 1s ease-out;
    -ms-transition: text-shadow 1s ease-out;
    -o-transition: cotext-shadow 1s ease-out;
    transition: text-shadow 1s ease-out;
}

ul.navbar-nav li a:focus {
    background-color: transparent;
    text-shadow: 0 0 10px #fff;
}

.navbar-stick-top{
    position: sticky;
    top: 5px;
}

.navbar-brand {
    padding: 0; 
}

.navbar-brand>img {
    height: 100%;
    padding: 5px 40px;
    width: auto;
}

/* SECTIONS */

.section-nav{
    background-color: transparent;
    height: 60px;
    visibility: hidden;
}

.section-header{
    margin-bottom: 30px;
    background-color: #3a88a4;
}

.section-header>h2{
    font-family: Lobster, sans-serif;
    color: #f3df00;
    font-size: 4rem;
    text-align: center;
    padding: 0;
    
}

section {
    font-family: 'Indie Flower';
    font-size: 1.5rem;
}

.content-box{
    padding: 30px;

}

.text-box{
    background-color: azure;
    border: aquamarine groove 10px;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 10px;
}

.image-box{
    margin-top: 30px;
}

/* ALBUMS SECTION */

.album-box{
    padding: 10px;
    background-color: bisque;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.album-cover{
    
}

.album-text{
    padding: 20px;
}


/* MEDIA */

@media (max-width: 767px){

    .navbar-stick-top{
        position: static;
    }

    #splash>video{
        min-width: 275px;
    }

    
    .navbar-brand>img {
        padding-left: 10px;
    }

    .section-nav{
        height: 20px;
    }

    .text-box{
        /*TODO*/
        /*url background hide the image*/
    }

}