@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Sedgwick+Ave');



/* GLOBAL RULES */

html{
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', sans-serif;
    font-size: 12px;
}

h1 {
    font-family: Lobster, sans-serif;
}

h2,
h3,
h4,
h5{
    font-family: "Sedgwick Ave";
}


/* HEADER */

header h1{
    font-family: Lobster, sans-serif;
    text-align: center;
    font-size: 5rem;

}

#splash{
    padding: 0;
    margin: 0;
    width: 100%;
    height: calc(90vh - 50px);
    margin-top: 10vh;
    padding-top: 2vh;
    padding-bottom: 20vh;
    min-width: 300px;
    
    text-align: center;
}

#splash>video{
    height: 50vh;
    width: calc(height * 16 / 9);
    border: brown groove 10px;
    border-radius: 20%;
    padding: 0;
    z-index: 1;
    object-fit: fill;
}

/* NAVBAR */

.navbar{
    padding: 0;
    margin: 0;
    background-color: rgba(185, 37, 37, 0.9);
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.95);
    -moz-box-shadow:    0 0 10px 0 rgba(50, 50, 50, 0.95);
    box-shadow:         0 0 10px 0 rgba(50, 50, 50, 0.95);
    min-height: 50px;
    z-index: 10;
}

ul.navbar-nav li a{
    font-family: Lobster, sans-serif;
    font-size: 1.5rem;
    color: #f3df00;
    text-shadow: 1px 1px 2px #333;
}

ul.navbar-nav li a:hover {
    background-color: transparent;
    text-shadow: 1px 2px 10px #fdf8c4;
    -webkit-transition: text-shadow 1s ease-out;
    -moz-transition: text-shadow 1s ease-out;
    -ms-transition: text-shadow 1s ease-out;
    -o-transition: cotext-shadow 1s ease-out;
    transition: text-shadow 1s ease-out;
}

ul.navbar-nav li a:focus {
    background-color: transparent;
    text-shadow: 0 0 10px #fff;
}

.navbar-stick-top{
    position: sticky;
    top: 5px;
}

.navbar-brand {
    padding: 0; 
}

.navbar-brand>img {
    height: 100%;
    padding: 5px 40px;
    width: auto;
}

/* SECTIONS */

.section-nav{
    background-color: transparent;
    height: 60px;
    visibility: hidden;
}

.section-header{
    margin-bottom: 30px;
}

.section-header>h2{
    font-family: Lobster, sans-serif;
    color: #b91820;
    text-shadow: 1px 1px 2px #333;
    font-size: 4rem;
    text-align: center;
    padding: 0;
    
}

section {
    font-family: 'Indie Flower';
    font-size: 1.5rem;
}

.content-box{
    padding: 30px;
    background-color: #3a88a4;
    border-radius: 10px;
}

.text-box{
    background-color: azure; /* fallback colour*/
    border: aquamarine groove 10px;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 5px;
}

.image-box{
    padding-top: 30px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; */
}

.picture{
    width: 100%;
}

.secondary-header{
    font-family: Lobster, sans-serif;
    color: #1f7b9c;
    padding: 1.5rem 0 ;
    font-size: 3rem;
    text-shadow: 1px 1px 3px #222;
}
.portrait-box{
    margin-top: 10px;
    margin-bottom: 10px;
}

.portrait-box>img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
}

.img-inline {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    object-fit: cover;
    margin:0;
    margin-right: 1rem;
}

/* ALBUMS SECTION */

.album-box{
    padding: 10px;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.album-box>h3{
    font-size: 3rem;
    background-color: rgb(58, 136, 164, .2);
    padding: 1rem 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.album-cover{
    height: 100%;
}

.album-cover>img{
    /*vertical-align: middle;*/
    width: 100%;
    margin: auto 0;
    
}

.album-info{
    padding: 20px;
    margin: 0;
}

.album-info audio{
    display: block;
    width: 100%;
}

/* FOOTER */

footer{
    height: 200px;
    
}

/* COLORS OVERRIDE*/

html {
    background-color: #b92525;
}

main{
    background: linear-gradient(#b92525, #cd0f38)
}

footer{
    background: linear-gradient(#cd0f38, #861a1a);
}

.section-header {
    background-color: #f3df00;
}

.bg-main{
    background-color: #cd0f38;
    border-color: #cd0f38;
}

.bg-sec{
    background-color: #f3df00;
    border-color: #f3df00;
}

.bg-red{
    background-color: #aa5f5f;
    border-color: #aa5f5f;
}

 .bg-blu{
     background-color: #66a4bb;
     border-color: #66a4bb;
 }

.bg-gre{
    background-color: #6c8753;
    border-color:#6c8753
}

.bg-yel{
    background-color: #c8ac52;
    border-color: #c8a652;
}

/* MEDIA */

@media (max-width: 767px){

    .navbar-stick-top{
        position: static;
    }

    #splash>video{
        min-width: 275px;
    }

    
    .navbar-brand>img {
        padding-left: 10px;
    }

    .section-nav{
        height: 20px;
    }

    .content-box{
        border-radius: 0;
    }

    .text-box{
        /*TODO*/
        /*url background hide the image*/
        z-index: 1;
    }

}

/* FIREFOX SPECIFIC */

/*This section is used to slightly modify firefox square audio player*/
@-moz-document url-prefix() { 
    .album-info audio{
        border-radius: 20px;
        height: 40px;
        background-color: aquamarine;
    }
}
