@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Sedgwick+Ave');



/* GLOBAL RULES */

html{
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', sans-serif;
    font-size: 12px;
}

h1 {
    font-family: Lobster, sans-serif;
}

h2,
h3,
h4,
h5{
    font-family: "Sedgwick Ave", sans-serif;
    margin: 0;
    padding: 0;
}

.no-padding{
    padding: 0;
}

.no-padding-right{
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

blockquote{
    font-family: "Sedgwick Ave", sans-serif;
    font-size: 1.2rem;
    text-align: justify;
}

/* HEADER */

header h1{
    font-family: Lobster, sans-serif;
    text-align: center;
    font-size: 64px;

}

#splash{
    padding: 0;
    margin: 0;
    width: 100%;
    height: calc(90vh - 50px);
    margin-top: 10vh;
    padding-top: 2vh;
    padding-bottom: 20vh;
    min-width: 300px;
    
    text-align: center;
}

#splash>video{
    height: calc(90vh - 200px);
    max-width: 100%;
    border: brown groove 10px;
    border-radius: 20%;
    padding: 0;
    z-index: 1;
    object-fit: fill;
}

/* NAVBAR */

.navbar{
    padding: 0;
    margin: 0;
    background-color: rgba(185, 37, 37, 0.9);
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.95);
    -moz-box-shadow:    0 0 10px 0 rgba(50, 50, 50, 0.95);
    box-shadow:         0 0 10px 0 rgba(50, 50, 50, 0.95);
    min-height: 50px;
    z-index: 10;
}
.navbar .navbar-header button {
    background-color: #b91820;
    border: solid #f3df00 1px;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.navbar .navbar-header button:hover:focus {
    background-color: #641010;
    -webkit-box-shadow: 0 0 10px 0 #fdf8c4f2;
    -moz-box-shadow:    0 0 10px 0 #fdf8c4f2;
    box-shadow:         0 0 10px 0 #fdf8c4f2;
}

.navbar-toggle .icon-bar {
    background-color: #f3df00;
}

.navbar-toggle .icon-bar:hover {
    background-color: #fdf8c4;
}

ul.navbar-nav li a{
    font-family: Lobster, sans-serif;
    font-size: 1.5rem;
    color: #f3df00;
    text-shadow: 1px 1px 2px #333;
}

ul.navbar-nav li a:hover {
    background-color: transparent;
    text-shadow: 1px 2px 10px #fdf8c4;
    -webkit-transition: text-shadow 1s ease-out;
    -moz-transition: text-shadow 1s ease-out;
    -ms-transition: text-shadow 1s ease-out;
    -o-transition: text-shadow 1s ease-out;
    transition: text-shadow 1s ease-out;
}

ul.navbar-nav li a:focus {
    background-color: transparent;
    text-shadow: 0 0 10px #fff;
}

.navbar-stick-top{
    position: sticky;
    top: 5px;
}

.navbar-brand {
    padding: 0; 
}

.navbar-brand>img {
    height: 100%;
    padding: 5px 40px;
    width: auto;
}

/* SECTIONS */

.section-nav{
    background-color: transparent;
    height: 60px;
    visibility: hidden;
}

.section-header{
    margin-bottom: 60px;
}

.section-header>h2{
    font-family: Lobster, sans-serif;
    color: #b91820;
    text-shadow: 1px 1px 2px #333;
    font-size: 4rem;
    text-align: center;
    padding: 0;
    margin: 5px auto;
    
}

section {
    font-family: 'Indie Flower';
    font-size: 1.5rem;
}

.content-box{
    padding: 30px;
    background-color: #3a88a4;
    border-radius: 10px;
}

.text-box{
    background-color: azure; /* fallback colour*/
    border: aquamarine groove 10px;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.text-box>h1{
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

.text-box>p{
    font-family: 'Indie Flower', sans-serif;
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 400;
}

.image-box{
    margin-bottom: 15px;
    /* padding-top: 30px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; */
}

.img-inside{
    margin-left: 10px; 
    margin-bottom: 5px; 
}

.picture{
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.secondary-header{
    font-family: Lobster, sans-serif;
    color: #1f7b9c;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px 0;
    font-size: 3rem;
    text-shadow: 1px 1px 3px #222;
}
.portrait-box{
    margin-top: 10px;
    margin-bottom: 10px;
}

.portrait-box>img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
}

.img-inline {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    object-fit: cover;
    margin:0;
    margin-right: 1rem;
}

.source{
    font-style: italic;
}

.source>a{
    color: #244bcc;
    font-style: normal;
}

.source>a:hover{
    color: #002dc0;
    text-decoration-line: none;
    font-style: italic;
    font-weight: bolder;
}

/* ALBUMS SECTION */

.album-box{
    padding: 10px;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.album-box>h3{
    font-size: 3rem;
    background-color: rgb(58, 136, 164, .2);
    padding: 1rem 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.album-cover{
    height: 100%;
}

.album-cover>img{
    /*vertical-align: middle;*/
    width: 100%;
    margin: auto 0;
    border: #0f0f0f solid 1px;
}

.album-info{
    padding: 20px;
    margin: 0;
}

.album-info audio{
    display: block;
    width: 100%;
}

/* FORM */

.contact-form

form>*{
    margin-bottom: 5px;
}

.contact-box{
    padding: 10px;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.contact-box>h3{
    font-family: Lobster, sans-serif;
    font-size: 3rem;
    color: #222;
    background-color: rgba(135, 135, 135, 0.3);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 0;
}

.contact-box p {
    font-size: 1.6rem;
    font-family: "Sedgwick Ave", sans-serif;
    background-color: rgba(135, 135, 135, 0.3);
    padding: 5px 10px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

/* FOOTER */

footer{
    min-height: 200px;
}

.footer-legal{
    margin: 0;
    padding-top: 3rem;
    line-height: 20px;
}

.footer-legal>span{
    font-family: 'Sedgwick Ave', 'Indie Flower', serif;
    color: #0f0f0f;
    font-size: 1.3rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 2rem;
}

.footer-social{
    padding: 10px;
    margin-top: 10px;
}

.social-links{
    margin: 0 auto;
    width: 100%;
}

.social-links>span{
    font-family: Lobster, sans-serif;
    font-size: 3rem;
    color: black;
    margin: 0 auto 20px;
    text-align: center;
}

.social-links li i{
    width: 64px;
    height: 64px;
    padding: 16px 0;
    margin: 5px 0;
    border-radius: 50%;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #b91820;
    background: rgb(0, 0, 0);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links i.fb:hover{
    color: #5771a8;
}

.social-links i.tw:hover{
    color: #17a3f2;
}

.social-links i.yt:hover{
    color: #ff0000;
}

.social-links i.sp:hover{
    color: #1ed760;
}

/* COLORS OVERRIDE*/

html {
    background-color: #b92525;
}

main{
    background: linear-gradient(#b92525, #cd0f38)
}

footer{
    background: linear-gradient(#cd0f38, #861a1a);
}

.section-header {
    background-color: #f3df00;
}

.bg-main{
    background-color: #cd0f38;
    border-color: #cd0f38;
}

.bg-sec{
    background-color: #f3df00;
    border-color: #f3df00;
}

.bg-red{
    background-color: #aa5f5f;
    border-color: #aa5f5f;
}

 .bg-blu{
     background-color: #66a4bb;
     border-color: #66a4bb;
 }

.bg-gre{
    background-color: #6c8753;
    border-color:#6c8753
}

.bg-yel{
    background-color: #c8ac52;
    border-color: #c8a652;
}

.bg-spotify{
    background-color: #7bad4c;
}

/* MEDIA */

@media (max-width: 767px){

    .no-padding-xs {
        padding: 0;
    }

    .navbar-stick-top{
        /* position: static; */
        top: 0;
    }

    #splash>video{
        min-width: 275px;
        height: 50vh;
    }

    
    .navbar-brand>img {
        padding-left: 10px;
    }

    .content-box{
        border-radius: 0;
    }

    .image-box{
        padding: 0;
        margin-bottom: 5px;
    }

    .album-cover>img{
        max-height: 60vh;
        object-fit: contain;
        border: none;
    }

    .footer-legal{
        text-align: center;
    }

    .footer-social{
        text-align: center;
    }

}

/* FIREFOX SPECIFIC */

/*This section is used to slightly modify firefox square audio player*/
@-moz-document url-prefix() { 
    .album-info audio{
        border-radius: 20px;
        height: 40px;
        background-color: aquamarine;
    }
}
